# Xmake cache
.xmake/
build/
compile_commands.json

# MacOS Cache
.DS_Store

# build artifacts
*.so

# python assets
.venv/
.pytest_cache/
.cache/
.python-version
**/__pycache__/
*.pyi

# vscode
.vscode/
